<div class="modal_sec">
    <mat-toolbar class="mat-toolbar-single-row">
        <h3>File Save</h3>
        <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">×</span>
        </button>
    </mat-toolbar>
    <div class="dialog-form">
        <div class="filter_sec">
            <form [formGroup]="login" class="form_sec">
                <mat-form-field appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input matInput formControlName="customer_name" type="text">
            <mat-error *ngIf="login.get('customer_name').hasError('required')"> Enter Customer Name</mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Job Name</mat-label>
                    <input matInput formControlName="job_name" type="text">
                    <mat-error *ngIf="login.get('job_name').hasError('required')"> Enter Job Name</mat-error>
                </mat-form-field>

                <div class="form-button text-right">
                    <button mat-raised-button  (click)="logintest()"
                        class="filter_btn btn_orange"> Save</button>
                    <button mat-raised-button (click)="onNoClick()" class="filter_btn btn_default ml-16">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div>
    <form [formGroup]="login">
        <p>Id</p>

    <mat-form-field>
        <input matInput formControlName="id" type="text" readonly>
    </mat-form-field>

        <mat-form-field>
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="customer_name" type="text">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Job Name</mat-label>
            <input matInput formControlName="job_name" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="customer_name" type="text">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Job Name</mat-label>
            <input matInput formControlName="job_name" type="text">
        </mat-form-field>

        <button mat-raise-button (click)="logintest()">Save</button>
        <button mat-raise-button (click)="onNoClick()">Close</button>

    </form>

</div> -->