.filter_btn{
    &.btn_orange {
        background-color: #f58632;
        border-color: #f58632;
        color: #fff;
        margin-top: 5px;
    }
}
.spinner {
  background: #262932;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 999;
}

.spinner img {
  width: 90px;
  margin-top: -130px;
}
.drawing_img{
    max-width: 100%;
    position: relative;
 img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    border: 1px solid #e7e7e7;
    padding: 5px;
    border-radius: 3px;
 }
 .share_icon{
    position: absolute;
    right: -10px;
    bottom: -10px;
     a{
        text-align: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(74, 60, 247, .19);
        color: #8d5716;
        display: inline-block;
        background: #ffd29e;
        border: 1px solid #ffad4b;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        position: relative;
        cursor: pointer;
         i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #8d5716;
            font-weight: 600;
            font-size: 15px; 
         }
     }
 }
}
.model_align_sec{
  // padding: 75px;
  // width: 50%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;

h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
}
