<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">backup</mat-icon>
          <span class="v-align-middle">Backup</span>
        </h2>

        <div class="filter_sec">
          <div class="filter_field">
            <div class="filter_field">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select Machine" [(ngModel)]="machine_id"
                  (selectionChange)="getmachine($event.value)" matNativeControl required>
                  <mat-option *ngFor="let machine of machine_response" [value]="machine.id">
                    {{machine.machine_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
          <div class="form-button">
            <button class="subit" (click)="openDialog(machine_id)" class="upload_btn">File Upload</button>
          </div>
        </div>
      </div>

      <div class="backup_sec">
        <div class="col">
          <!-- <h1>Backup</h1> -->
          <mat-card class="card_sec">
            <mat-card-content class="table-responsive">
              <table>
                <thead>
                  <tr>
                    <!-- <th>#</th> -->
                    <th>Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tr *ngFor="let master of backup">
                  <!-- <td></td> -->
                  <td>{{master}}</td>
                  <td>

                    <div><a class="Download" matTooltip="Download" (click)="new_download(master,'Backup')"><i class="fa fa-download"
                          aria-hidden="true"></i></a></div>



                  </td>
                </tr>
              </table>

              <!-- <div *ngIf="backup.length==0" class="no_data_found">
                <h2>No data found</h2>
              </div> -->
            </mat-card-content>
          </mat-card>

        


        </div>
   
      </div>
    </div>
  </div>
</section>